<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <style>

  </style>
</head>
<body style="background-color:rgb(240, 240, 240);" >
<br>
       <div class="container" style="background:white;height:180px;width:1200px;">
          <nav class=" navbar container" ><br>
           <div>
                
             &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;             &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;


                   <label for="account"><h4>Ether Balance:</h4><input type="text" class="form-control" id="balance" value={{balance}} readonly/></label> &nbsp;&nbsp;
                   <!-- <i class="fa fa-bitcoin" style="font-size:36px"></i> -->
                   <label for="account1"><h4>Token Balance:</h4><input type="text" class="form-control" id="usertoken"  readonly/></label>
                   <br>             &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;             &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;

                   <Button type="button"  value="Create Bet" data-toggle="modal"  data-target="#purchase" style="padding: 8px 30px" class="button1 zoom" >Purchase Token</Button>
                   <Button type="button"  value="Create Bet" data-toggle="modal" data-target="#selltoken" style="padding: 8px 20px"class="button1 zoom" >Convert Token to Ether</Button>
                   <Button type="button"  value="Create Bet" data-toggle="modal"  data-target="#betting" style="padding: 8px 30px" class="button1 zoom" >Bet</Button>
                   <Button type="button"  value="Create Bet" data-toggle="modal"  data-target="#increase" style="padding: 8px 30px" class="button1 zoom" >Increase Bet</Button>
                   <Button type="button"  value="Create Bet" data-toggle="modal"  data-target="#decrease" style="padding: 8px 30px" class="button1 zoom" >Decrease Bet</Button>
                   <Button type="button"  value="Create Bet" data-toggle="modal"  data-target="#exit" style="padding: 8px 30px" class="button1 zoom" >Exit bet</Button>



         </div>   
</nav>
</div>
<!--BET POPUP-->
<div class="modal fade" id="betting" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-header" style="background: #1affff">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" >Bet</h4>         
      </div>
      
      <div class="modal-body" >
        <p>Choose Token or Ether,</p><br>
        <select id="myselect">
          <option value="0">Ether</option>
          <option value="1">Token</option>
      </select><br><br>
      <input type="text" class="shadow" placeholder="Enter game id" id='bet_id'>
      <select id="mychoice">
          <option value="0">Low</option>
          <option value="1">High</option>
      </select>
      <input type="text" class="shadow" placeholder="Enter the Amount" id='bet_input'>
      </div>
     
      <div class="modal-footer" >
        <button type="button" class="success" data-dismiss="modal" aria-hidden="true" (click)="bt()">Bet</button>
        <button type="button" class="danger"  data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!--Increase BEt POPUP-->
<div class="modal fade" id="increase" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        
        <div class="modal-header" style="background: #1affff">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" >Bet</h4>         
        </div>
        
        <div class="modal-body" >
          <p>Increase Bet Amount</p><br>
          <select id="mychoice">
            <option value="0">Ether</option>
            <option value="1">Token</option>
        </select><br><br>
        <input type="text" class="shadow" placeholder="Enter bet id" id='bet_id'>
          <br>
        <input type="text" class="shadow" placeholder="Enter the amount" id='amt'>
        
      </div>
       
        <div class="modal-footer" >
          <button type="button" class="success" data-dismiss="modal" aria-hidden="true" (click)="inc()">Increase</button>
          <button type="button" class="danger"  data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!--purchase popup--> 
<div class="modal fade" id="purchase" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Purchase Tokens</h4>         
        </div>
        
        <div class="modal-body">
            <input type="text" placeholder="number only" id='num'>
        </div>
       
        <div class="modal-footer">
          <button type="button"class="butn zoom" data-dismiss="modal" aria-hidden="true" (click)="gt()" style="background:#03A9F4" >Purchase</button>
        </div>
      </div>
    </div>
  </div>

   <!--sell token popup--> 
   <div class="modal fade" id="selltoken" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Exchange Token</h4>         
          </div>
          
          <div class="modal-body">
              <input type="text" placeholder="number only" id='selltk'>
          </div>
         
          <div class="modal-footer">
            <button type="button" class="butn zoom" data-dismiss="modal" aria-hidden="true" (click)="et()" style="background:#03A9F4" >Exchange</button>
          
          </div>
        </div>
      </div>
    </div>
<br>  
<!--unbeted table-->
<div class="container" style="height:400px;width:1230px;">
    <table class="table" style="background:white;overflow-y:scroll;display:block;" >
     <thead>
       <tr style="background:white">
         <th>Bet Id</th>
         <th>Stock Name</th>
         <th>Strike Price</th>
         <th>Expiry time</th>
         <th></th>
         <th>Win</th>
         <th>Loss</th>
         <th> </th>
         <th> </th>
         <th> </th>
       </tr>
     </thead>
     <tbody id="user_bet_list">
         <tr>
           </tr>
     </tbody>
   </table>
 </div>
<br>
<!--Betted table-->
<div class="container" style="height:400px;width:1230px;">
    <table class="table" style="background:white;overflow-y:scroll;display:block;" >
     <thead>
       <tr style="background:white">
        <th>Bet Id</th>
        <th>Stock Name</th>
        <th>Strike Price</th>
        <th>Expiry Time</th>
        <th>No.of.Bets</th>
        <th>Ether Collected</th>
        <th>Tokens Collected</th> 
        <th>Bet Status</th>  
         <th> </th>
         <th> </th>
         <th> </th>
       </tr>
     </thead>
     <tbody id="total_bet_list">
         <tr>
       
       </tr>
     </tbody>
   </table>

 </div>


 
 
 <br>
</body>
</html>